.breadcrumbs {
  margin-bottom: 24px;
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__link {
    width: auto;

    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--main-color-dark-trans-light);

    cursor: default;
  }

  &__link:not(:last-child)::after {
    content: '/';

    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--main-color-dark-trans-light);

    margin: 0 4px;

    cursor: default;
  }

  &__link--linked {
    cursor: pointer;
  }
}


